* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: "head head head"
                         "nav main main"
                         "footer footer footer";
    grid-template-rows: 1fr 3fr 1fr; 
    grid-template-columns:  150px 1fr;
    background-color: #f1c40f;
}

header {
    grid-area: head;
    background-color: #3498db;
    display: flex;
}

.nav-bar {
    background-color: #9b59b6;
    grid-area: nav;
}

main {
    grid-area: main;
    background-color: #2ecc71;
}

footer {
    grid-area: footer;
    background-color: #e74c3c; 
}