* {
    margin: 0; 
    padding: 0;
}
.container {
    display: grid;
    max-width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows: .5fr .25fr 5fr 1fr;
    grid-template-areas: 
        "header" 
        "nav"
        "main"
        "footer";
}

header {
    display: flex; 
    width: 100%;
    grid-area: header;
}

nav {
    width: 100%;
    grid-area: nav;
}

.headerImage {
    padding: 10px 10px;
    margin: auto;
}

.mobileLogo {
    max-width: 75%;
}

.navbar {
    list-style: none;
}

nav .navbar .navItem {
    padding: 10px 10px;
    background-color: rgb(236, 240, 241);
    border-top: solid 1px rgba(209, 97, 76, 5%);
}

.navItem:first-child {
    border-top: none;
}

.navbar a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
}

.desktopLogo {
    display: none;
}

main {
    background-color: rgb(189, 195, 199);
    grid-area: main;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-areas: "articles";
}

section {
    display: grid;
    grid-area: articles;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    row-gap: 10px;
    grid-template-areas: 
        "promo" 
        "leftInfo"
        "middleInfo"
        "rightInfo";
}

.promo {
    background-color: rgb(44, 62, 80);
    grid-area: promo; 
}

#leftInfo {
    grid-area: leftInfo;
    background-color: rgb(44, 62, 80);
}

#middleInfo {
    grid-area: middleInfo;
    background-color: rgb(149, 165, 166)
}

#rightInfo {
    grid-area: rightInfo;
    background-color: rgb(127, 140, 141);
}

footer {
    background-color: rgb(189, 195, 199);
    padding: 10px;
    padding-bottom: 0;

    display: grid; 
    grid-area: footer;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    grid-template-areas: 
        "footerLeft footerRight"
}

footer img {
    max-width: 25%;
    margin: auto;
}

#footerLeft {
    display: flex;
    grid-area: footerLeft;

}

#footerRight {
    display: flex;
    grid-area: footerRight;
    color: rgba(0, 0, 0, 50%);
    font-size: 0.75rem;
}

#footerRight p {
    margin: auto;
}

/* Mobile first development -- below is for anything bigger than a mobile phone */
@media (min-width: 450px) { 
    .container {
        grid-template-rows: 1fr .25fr 5fr 1fr;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer";
    }
    
    .desktopLogo {
        display: block;
        height: 150px;
    }

    .mobileLogo {
        display: none;
    }
    nav .navbar {
        display: flex;
    }
    
    nav .navbar .navItem {
        flex: 1 0 auto;   
        background: none; 
        border-top: none;
        border-right: solid 1px rgba(209, 97, 76, 20%);
        padding: 15px 15px;
    }

    .navbar li:last-child {
        border-right: none; 
    }
    
}

@media (min-width: 850px) {
    section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 2fr;
        column-gap: 10px;
        padding: 10px;
        padding-bottom: 0;
        grid-template-areas: 
            "promo promo promo" 
            "leftInfo middleInfo rightInfo"
    }
}